{
  "presets": [
    ["@babel/env", {
      "targets": {
        "node": "12"
      },
      "modules": false
    }],
    "@babel/typescript"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ]
}
